body{
    background-color: rgb(25, 12, 38);
}
#main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(112 87 138 / 90%);
    width: 30p;
    height: 86px;
    margin-top: -1%;
    width: 98rem;
    margin-left: -1%;
}
#nav_bar_name{
    margin-left: 60px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
   
}
#nav_bar_search{
    margin-top: 2%;
    margin-left: 67%;
    display: flex;

}
 #nav_bar_search input{
    border-radius: 3% 3% 3% 3%;
    background-color: rgb(25, 12, 38);
    border: 2px solid white;
    color: white;
    width: 100%;
    height: 35px;
} 
 #avatar img{
    width: 115%;
    height: 53px;
    border-radius: 50%;
    margin-top: -20%;
    margin-left: 65%;
} 
  .cards img{
    width: 100%;
    height: 22rem;
    margin: 18%;
    padding: 4px;
    margin-left: 50%;
    border-radius: 5%;
   
   
}   
#info{
    display: flex;
    background-color: #674f80;
    width: 100%;
    height: 5rem;
    margin: 52%;
    z-index: 1;
    color: white;
    margin-top: -30%;
    position: sticky;
    border-radius: 5%;
}

#info #name{
    color: black;
    margin: 5%;
    overflow: hidden;
}
#info #ratings{
    color: black;
    
    margin: 5%;
    margin-left: 35%;
} 
#mainC{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}